

body{
  font-family: "Grechen Fuemen", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  background-color: #e8f4f8; /* Color de fondo suave */
 margin: 0;
 padding: 0;
 color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center; 
}
